<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Accueil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="logo">
    <h1>Veuillez vous inscrire</h1>
  </div>
  <ion-list>
    <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>
  
  </ion-list>

  <ion-button  color="light"expand="block" shape="round" fill="outline" (click)="register()">Signup</ion-button>
</ion-content>