p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

ion-content{
    --background: linear-gradient(
        197deg, 
        #16A085,
        #F4D03F, 
        #1a2a6c 100%
    ) !important;
}