<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="retreatant">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Retraitants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="retreatant-checkin">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Check</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="retreatant-checkin-info">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Validés</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>